.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body{
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center; 
}

.jumbotron{
  background-color: white;
  opacity: 0.6;
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;
}
.navbar{
  background-color: #2eaf73;
   padding: 20px;
}
.navbar-brand{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 10px;
}

.rowC{
  display:flex; flex-direction:row;
}

.friendlist{
  margin: 20px;
}
.buckettitle{
  color:blue;
}
.bucketList{
  margin: 4%;
}
.friendTitle{
  color: red;
}
.friendList{
  margin: 4%;
}

.traveledList {
  margin: 4%;
  color: green;
}
  
  .travelTitle{
    margin: 4%;
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
