.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

body{
  background-image:url("./img/coolbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

.logo{
  width: 100px;
  height: 45px;
}

p{
  margin: 2%;
}

.intro{
  margin: 4%;
  font-size: 20px;
}

h1{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
font-size: 5em;
margin-bottom: 4%;
margin-top: 1%;
}

/* div.class{
  border-style: none;
} */

.profile {
  color: purple;
  text-align: center;
}
 
.jumbotron{
  background-color: rgba(255, 255, 255, 0.87);
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.navbar{
  background-color:#5c5c5c;
}

.navbar-brand{
  color:  rgba(255, 255, 255, 0.87);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  /* padding: 5px; */
}


/* Wishlist */
/* .rowC{
  text-align: center;
 
  
  
} */
.wishListWrapper{
  background-color:#e8f0ef;
  /* margin: 4%;
  width: 500px; */
  height: 500px;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 6%;
  margin-top: 4%;
  width: 40%;
  
}



/* Profile */
.rowD {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  /* margin: 5% 15% 15% 15%; */

}

.form-group {
  text-align: left;
}


/* Contact page */
.contactUs{
  color: black;
  margin: 2%;
}

/* about us */

.aboutUs{
  color: black;
  margin: 2%;
}
/* Profile */

.nav{
  background-color: oldlace;
}





ul{
  padding: 0px;
  list-style: none;
}

.bucketlistIdeas{
  color: #bfadc3;
  -webkit-text-fill-color: #bfadc3; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 4em;
  background-color: rgba(255, 255, 255, 0.87);
  text-align: center;
}
  
  .travelTitle{
    color: #bfadc3;
    -webkit-text-fill-color: #bfadc3; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 2em;
  }

  traveledList{
    background-color: #bfadc3;
  }

  /* Welcome Page */
  .backgroundHexagon{
    background-color: #e3eaee ;
    height: 1100px;
    margin: 0% 4%;
  }

  .memberH2{
    text-align: center;
    font-size: 1.75em;
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


