.flexGallery {
    display: flex;
    flex-flow: row wrap;
    border-radius: 2px;
    height: 345px;
    padding: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }

img {
    width: 300px; 
    height:200px;
    clear: both;
  }
  
.content {
    background-color: white;
    padding: 10px;
    height: 350px;
    width: 320px;
    margin: 4%;
    text-align: left;
}

 /* .column {
    float: left;
    width: 50%;
    margin: 60px; 
  
}  */

p{
    font-size: 12px;
}